Source: pika-abi-bridge
Section: admin
Priority: optional
Maintainer: ferreo <harderthanfire@gmail.com>
Standards-Version: 4.6.1
Build-Depends: debhelper-compat (= 13)
Rules-Requires-Root: no

Package: pika-abi-bridge-qt-abi-bridge
Architecture: linux-any
Depends: 
  ${misc:Depends},
  qtbase-abi-5-15-14,
  qtwayland-client-abi-5-15-13,
  qtdeclarative-abi-5-15-13
Provides: 
  qtbase-abi-5-15-10 (= 5.15.10-101pika1),
  qtwayland-client-abi-5-15-10 (= 5.15.10-101pika1),
  qtdeclarative-abi-5-15-10 (= 5.15.10-101pika1),
  qtbase-abi-5-15-13 (= 5.15.13-101pika1),
#  qtwayland-client-abi-5-15-13 (= 5.15.13-101pika1),
Description: QT ABI Bridge for PikaOS builder
